
.button, a[href^="mailto:"] {
    padding: 0.8rem;
    @include media-up(md) {padding: 0.8rem 2rem;}
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 8px;
    a {
        text-decoration: none;
    }
    
    transition: background-color 400ms 100ms, border-color 400ms 100ms, color 400ms 100ms;
    &:hover {
        transition: background-color 400ms, border-color 400ms, color 400ms;
        background-color: $light-blue;
        color: $blue;
        border-color: $light-blue;
    }
}
.buttons-wrapper {
    display: flex;
    .button {
        margin-top: 16px;
        &:first-child {
            margin-right: 8px;
        }
        &:last-child {
            margin-left: 8px;
        }
    }
}
