footer {
    @include padding;
    background-color: black;
    color: white;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-size: 12px;

    }
    a {
        text-decoration: none;
        font-family: $font-family-display;
        text-transform: uppercase;
        &:hover {
            transition: color 300ms,;
            color: $fresh-blue;
        }
    }
}
