header {
    height: 300px;

    &.small {
        height: 200px;
    }

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $light;
    position: relative;
    h1,h2,h3 {
        z-index: 1;
        text-align: center;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
    }
    &.has-image .title {
        background-color: $blue;
        padding: 10px 20px;
        color: $light-blue;
        position: static;
        z-index: 2;
    }
    @include padding;

    text-align: center;
    margin-bottom: 50px;

    @include media-up(mdl) {
        @media (min-height: 800px) {
            margin-bottom: 100px;
        }
    }

    p {
        max-width: 375px;
    }
    
}
