header {
    height: 300px;

    &.small {
        height: 200px;
    }

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $light;
    position: relative;
    h1,h2,h3 {
        z-index: 1;
    }
    .background {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;
        background-repeat: no-repeat;
        z-index: 0;
    }

    @include padding;

    text-align: center;
    margin-bottom: 50px;

    @include media-up(mdl) {
        margin-bottom: 100px;
    }

    p {
        max-width: 375px;
    }
}
