.nav {
    background-color: $light-blue;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // background: linear-gradient(180deg, $light-blue 80%, transparent 100%) ;
    box-shadow: 0 1px 20px -10px lighten($blue, 0%);
    // padding-bottom: 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    .inner {
        display: flex;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        align-self: flex-start;
        justify-content: space-between;
        position: relative;
        padding: 16px;
        @include media-between(xsm, md) {
            padding: 0 16px;
        }
        
        
        @include media-up(mdl) {
            padding: 8px 32px;
        }
        @media (min-width: 1710px) {
            padding: 0;
        }
    }


    .sitename {
        margin-left: 0 !important;
        @media (min-width: 370px) {
            letter-spacing: normal !important;
        }
    }
    .menu-items {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        @include media-down(mdl) {
            display: none;
            padding: 16px 16px;
        }
    }
    .nav-item {
        text-transform: lowercase;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 28px;
        padding: 6px 0 0;
        @include media-up(mdl){
            margin-left: 3vw;
            font-size: 25px;
        }
        @include media-up(lg){margin-left: 5vw;}
        line-height: 1;
        letter-spacing: -5px;
        &.active,
        &:hover {
            font-family: $font-family-display;
            color: $black;
        }
        &.order-1 {order: 1;}
        &.order-2 {order: 2;}
        &.order-3 {order: 3;}
        &.order-4 {order: 4;}
        
    }

    .mobile-menu-button {
        height: 24px;
        width: 24px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        align-self: center;
        align-items: center;
        padding: 2px 0;

        @include media-up(mdl){display: none;}
        %bar {
            height: 2px;
            width: 24px;
            border-radius: 2px;
            display: block;
            background-color: $black;
            margin: 4px 0;
            // position: absolute;
            // top: 0;
            // left: 0;
            transform-origin: center;
            transform: rotate(0) translate(0,0);
            transition: top, transform 300ms 200ms;
        }

        .bar-1 {
            top: 35%;
            @extend %bar;
        }
        .bar-2 {
            top: 65%;
            @extend %bar;
        }
        
    
    }
    &.active {
        @include media-down(mdl) {
            background-color: $blue;
            .sitename ,
            .nav-item {
                color: $light-blue;
            }
            .menu-items {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 10;
                flex-flow: column;
                justify-content: flex-start;
                display: flex;
                height: 100vh;
                // height: 300px;
                background: linear-gradient(180deg, $blue 0%, $blue 30%, rgba(255,255,255,0) 100%);
                padding: 16px;
                
            }
            .bar-1, .bar-2 {
                background-color: $light-blue;
            }
                    
        }
        .bar-1 {
            transform: rotate(45deg) translate(4px, 4px);
            transition: top, transform 300ms;
        }
        .bar-2 {
            transform: rotate(-45deg) translate(3px, -3px);
            transition: top, transform 300ms;
        }
    }
}
