
.teaser {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 16px;
        
        @include media-up(md) {
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
        }

        @include media-up(mdl) {
            grid-template-columns: 1fr 1fr;
            column-gap: 16px;
            row-gap: 16px;
        }

        @include media-up(lg) {
            grid-template-columns: 1fr 1fr;
            column-gap: 32px;
            row-gap: 32px;
        }

        .item {
            // padding: 16px;
            text-align: center;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            height: 300px;
            background-size: contain;
            background-position: center;
            transition: filter 300ms;
            cursor: pointer;
            position: relative;
            &:hover {
                transition: filter 300ms;
                .image {
                    
                    &:after {
                        box-shadow: inset 0 0 0 5px $fresh-blue;
                        transition: box-shadow 400ms 100ms;
                    }
                }
            }
            .image {
                width: 100%;
                height: 100%;
                box-shadow: 0 2px 20px -12px darken($blue, 20%);

                // padding: 50% 0 0 0;
                background-size: cover;
                background-position: center;
                background-color: $light;
                margin-bottom: 16px;
                position: relative;
                border-radius: 20px;
                &:after {
                    content: '';
                    position: absolute;
                    height: 100%;
                border-radius: 20px;

                    width: 100%;
                    top: 0;
                    left: 0;
                    box-shadow: inset 0 0 0 5px transparent;
                    transition: box-shadow 400ms;
                    z-index: 2;
                }
            }
            span { 
            //     font-family: $font-family-display;
                @extend h2;
                margin-bottom: 0;
            }
            // @extend %hover;
        }
    }
}

.post {
    &-list {
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr;
        row-gap: 40px;
        @include media-up(md) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 40px;
            row-gap: 40px;
        }
    
        @include media-up(mdl) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 60px;
            row-gap: 60px;
        }
    
        @include media-up(lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 100px;
            row-gap: 100px;
        }
    }


    // width: 300px;
    text-align: center;
    // height: 300px;
    position: relative;
    display: flex;
    flex-flow: column;
    &-bild {
        background-size: cover;
        background-position: center;
        height: 200px;
    }
    &-content {
        background-color: $tafel-black;
        color: white;
        padding: 16px 16px;
    }
    h4 {
        margin-bottom: 5px;
        font-family: $font-family-display;
    }
   
}
