@import 'lib/functions';
@import 'lib/vars';
@import 'lib/fonts';

@import 'nav';
@import 'header';
@import 'footer';
@import 'teaser';
@import 'buttons';
@import 'pages/home';

* {
    margin: 0;
    font-family: 'Sukhumvit', sans-serif;
    box-sizing: border-box;
}

html,
body,
main {
    min-height: 100%;
}

html {
    background-color: #fdfdfd;
}

body {
    color: $text-black;
    opacity: 1;
    transition: opacity 200ms;

    &.loading {
        opacity: 0;
        transition: opacity 200ms;
    }
}

img {
    max-width: 100%;
}

i.open {
    font-style: normal;
    transform: rotate(90deg);
    display: inline-block;
}

section {
    padding: 25px 20px;
    margin-bottom: 25px;

    @include media-up(md) {
        padding: 25px 40px;
    }

    @include media-up(mdl) {
        padding: 50px 60px;
        margin-bottom: 50px;
    }

    &.centered {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;

        h2 {
            max-width: 700px;
        }

        p {
            line-height: $line-height;
            max-width: 700px;
        }
    }
}


.maps {
    text-align: center;
}

::selection {
    background-color: $light-blue;
}


