@import 'lib/functions';
@import 'lib/vars';
@import 'lib/fonts';

@import 'nav';
@import 'header';
@import 'footer';
@import 'teaser';
@import 'buttons';
@import 'pages/home';
@import 'pages/kaffeebar';
@import 'pages/catering';

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body,
main {
    // min-height: 100%;
}

html {
    height: 100%;
    background-color: #fdfdfd;
}

main {
    min-height: calc(100% - 34px - 58px);
}
body {
    height: 100%;
    color: $text-black;
    opacity: 1;
    transition: opacity 200ms;

    &.loading {
        opacity: 0;
        transition: opacity 200ms;
    }
}

img {
    max-width: 100%;
}

i.open {
    font-style: normal;
    transform: rotate(90deg);
    display: inline-block;
}

section {
    padding: 25px 20px;
    margin-bottom: 25px;

    @include media-up(md) {
        padding: 25px 40px;
    }

    @include media-up(mdl) {
        padding: 50px 60px;
        margin-bottom: 50px;
    }

    &.centered {
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;

        h2 {
            max-width: 700px;
        }

        p {
            line-height: $line-height;
            max-width: 700px;
        }
    }
}

.date {
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    color: $light;
    background-color: $fresh-blue;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
}

.maps {
    text-align: center;
    .map {position: relative;}
    .copyright {
        font-size: 14px;
        font-weight: 500;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        opacity: 0.5;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .open {
        display: none;
        @include media-up(md) {
            display: block;
        }
    }
}

::selection {
    background-color: $light-blue;
}

.post { 
    hr { display: none;}
}


