<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Leuchtstoff - {{title}}</title>

    <link rel="shortcut icon" href="https://leuchtstoff.berlin/assets/images/favicon.svg" type="image/x-icon">

    <link rel="preload" href="assets/fonts/mpl.ttf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="assets/fonts/mph.ttf" as="font" type="font/otf" crossorigin>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <!-- HTML Meta Tags -->
    <meta name="description" content="leuchtstoff - kaffeebar is an unpretentious 3rd wave coffee shop in Berlin/Neukölln with free wifi and some great homemade organic baked goods">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Leuchtstoff - Kaffee Kuchen Kollektiv">
    <meta itemprop="description" content="leuchtstoff - kaffeebar is an unpretentious 3rd wave coffee shop in Berlin/Neukölln with free wifi and some great homemade organic baked goods">
    <meta itemprop="image" content="https://leuchtstoff.berlin/assets/images/meta_leuchtstoff.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://leuchtstoff.berlin">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Leuchtstoff - Kaffee Kuchen Kollektiv">
    <meta property="og:description" content="leuchtstoff - kaffeebar is an unpretentious 3rd wave coffee shop in Berlin/Neukölln with free wifi and some great homemade organic baked goods">
    <meta property="og:image" content="https://leuchtstoff.berlin/assets/images/meta_leuchtstoff.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Leuchtstoff - Kaffee Kuchen Kollektiv">
    <meta name="twitter:description" content="leuchtstoff - kaffeebar is an unpretentious 3rd wave coffee shop in Berlin/Neukölln with free wifi and some great homemade organic baked goods">
    <meta name="twitter:image" content="https://leuchtstoff.berlin/assets/images/meta_leuchtstoff.jpg">

    <!-- Meta Tags Generated via http://heymeta.com -->
</head>
<body id="body" class="loading">
    {% include _menu.liquid %}

    {{content}}

    {% include _footer.liquid %}
</body>

<script>
setTimeout(function(){
    document.getElementById('body').classList.remove('loading');
},300);

</script>
</html>
