---
layout: base.liquid
---
<main class="page">
    {% comment %} {% include _header.liquid %} {% endcomment %}
    <header style="background-image: url({{header-image}});">
        <h1>{{title}}</h1>
    </header>
    <section>
        <div class="page-content">
        {{-content}}
        </div>
    </section>
</main>
