---
layout: base.liquid
---
<main class="page">
    {% comment %} {% include _header.liquid %} {% endcomment %}
    <section>
        <h1>{{title}}</h1>
        <div class="inner">
            <div class="content">
                {{-content}}
            </div>
            <img src="{{header-image}}" alt=""> 
       </div>
    </section>
</main>
