<header class="{%if header-image %}has-image{%endif%}">
    <div class="background"
        style="background-image: url({{header-image}})">
    </div>
    <div class="title">
        <h1>{{title}}</h1>
    </div>
</header>
