<section class="maps">
    <div class="content">
        <h2>{{contact-headline}}</h2>
        <div class="map">
            <img src="/assets/images/maps.jpg" alt="" onclick="window.open('https://maps.apple.com/?address=Siegfriedstra%C3%9Fe%2019,%2012051%20Berlin,%20Germany&auid=12550425442495375995&ll=52.468219,13.432493&lsp=9902&q=leuchtstoff%20-%20Coffeebar%20and%20Bakery&_ext=ChkKBQgEEIEBCgQIBRADCgQIBhAICgQIChAAEiYpggysGVY7SkAxqZy/YqzZKkA5AOLRdXw8SkBBE79dIznhKkBQBA%3D%3D','_blank')">
            <div class="copyright">© apple maps</div>
        </div>
        <div class="buttons-wrapper">
            <div class="button" onclick="window.open('https://maps.apple.com/?address=Siegfriedstra%C3%9Fe%2019,%2012051%20Berlin,%20Germany&auid=12550425442495375995&ll=52.468219,13.432493&lsp=9902&q=leuchtstoff%20-%20Coffeebar%20and%20Bakery&_ext=ChkKBQgEEIEBCgQIBRADCgQIBhAICgQIChAAEiYpggysGVY7SkAxqZy/YqzZKkA5AOLRdXw8SkBBE79dIznhKkBQBA%3D%3D','_blank')">apple maps</div>

            <div class="button" onclick="window.open('https://goo.gl/maps/tM1empDgwS3FdKEU6','_blank')">google maps</div>
        </div>
    </div>
</section>
