---
layout: base.liquid
---

<main class="post">
    <section class="bohnen-post">
    <div class="col-1">
        <img src="{{image}}" alt="">
    </div>
    <div class="col-2">
        <h1>{{title}}</h1>
        <p>{{-content}}</p>
    </div>
    </section>
</main>
