---
layout: base.liquid
---
<main class="post">
    <header class="small" style="background-image: url({{header-image}})">
        <h1>{{title}}</h1>
    </header>

    <section class="centered">
        {{-content}}
    </section>
</main>
