---
layout: base.liquid
---
<main class="page">
    <header class="">
        <div class="background"
            style="background-image: url({{header-image}})">
            </div>
        <h1>{{title}}</h1>
    </header>

    <section class="{%if style != 'left'%}centered{%endif%}">
        {{-content}}
    </section>
</main>
