---
layout: base.liquid
---
<main class="post">
    <header class="small" style="background-image: url({{header-image}})">
        <h1>{{title}}</h1>
    </header>

    <section class="{%if style != 'left'%}centered{%endif%}">
        {{-content}}
    </section>
</main>
