---
layout: base.liquid
---

<main class="post">
    <header class="small">
    <div class="background"
        style="background-image: url({{header-image}})">
        </div>
        <h1>{{title}}</h1>
    </header>
    <section>
        <p>{{content}}</p>
    </section>
</main>
