
.home {
    header {
        height: 400px; 
        margin-bottom: 48px;
        position: relative;
        flex-flow: row;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 48px;
        background-image: url(/assets/images/bohnenregal.jpg);
        background-size: cover;
        background-position: 0% 10%;
        position: relative;
        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(to bottom, transparent, $light);
        }
        @include media-down(md) {
            flex-flow: column;
            height: auto;
            padding-top: 80px;
            padding-bottom: 32px;
            .logo {display: none;};
            margin-bottom: 0;
        }
        // background: linear-gradient( 180deg, $blue 0%, $light 100% );
        

        // .background {
        //     width: 100%;
        //     height: 100%;
        //     background-size: cover;
        //     background-position: 100% center;
        //     opacity: 1;
        //     z-index: 0;
        //     filter: none;
        // }
        .intro {
            position: relative;
            z-index: 3;
        }
        .header-content {
            max-width: 1600px;
            width: 40%;
            z-index: 1;
            text-align: left;

            @include media-down(md) {
                width: 100%;
            }
        }
        p {
            text-align: inherit;
            z-index: 3;
            color: inherit;
        }
        h2 {
            color: inherit;  
            font-size: 2rem;
            text-align: inherit;
        }
        .logo {

            width: 40%;
            max-height: 80%;
            svg {
                display: block;
                width: auto;
            }
    
            path {
                fill: $blue;
            }
        }
    }
    .news {

        .news-image {
            padding-top: 56%;
            background-size: cover;
            transition: transform 800ms ease-in-out;
                &:hover {
                    transform: scale(1.01) translate(0, -1%);
                    transition: transform 500ms ease-in-out;
                }

        }
        .content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;
            @include media-down(md) {
                grid-template-columns: 1fr;
            }
        }
        
        &.length-1 .content {
            grid-template-columns: 1fr 1fr;
            @include media-down(md) {
                grid-template-columns: 1fr;
            }
        }
    }
    
    article {
        // overflow: hidden;
        cursor: pointer;
        align-self: flex-start;


        @include media-down(md) {
            width: 100%;
            margin-bottom: 16px;
        }


        .date-v2 {
            font-size: 0.8em;
            display: block;
            margin-bottom: 4px;
        }

        h3 {
            margin-bottom: 0.5rem;
        }
        img, svg { display: block; width: 100%;}

        .article-content {
            padding: 32px;
            position: relative;
            background-color: #fff;
            p {
                margin-bottom: 0.25rem;
            }
        }
        &.openinghours {
            svg {
                padding: 32px;
                path {
                    fill: $black
                }
            }
            span {
                display: block;
            }
        }
        hr, 
        hr ~ * {
            display: none;
        }
    }


    section.centered {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        flex-flow: row;
        .content {
            width: auto;
        }
    }
    .about {
        margin-bottom: 0;
    }
    .opentable {
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    section.teaser {
        padding-top: 48px;
        margin-bottom: 0;
    }
    .maps {
        margin-bottom: 0;
        // background: linear-gradient(180deg, $cream 0%, $blue 100%);
    }
    
}
