.home {

    header {
        background-color: rgba($blue, 0.04);
        
        .background {
            background-size: 100% 180%;
            background-position: 0 -170px;
            background-repeat: no-repeat;
            opacity: 0.041;
        }
    }
    .news {
        display: flex;
        justify-content: space-between;
        @include media-down(md) {
            flex-flow: column;
        }
    }
    
    article {
        width: 30%;
        cursor: pointer;
        background-color: $black;
        color: lighten($blue, 30%);
        @include media-down(md) {
            width: 100%;
            margin-bottom: 20px;
        }
        padding: 20px;
        position: relative;
        // @extend %hover;
        .date {
            display: block;
            padding: 5px 10px;
            font-size: 12px;
            color: $text-black;
            background-color: lighten($blue, 30%);
            border-radius: 8px;
            position: absolute;
            top: 0;
            right: 15px;
            transform: translate(0, -50%);
        }
        h3 {
            margin-bottom: 0.5rem;
        }
        
        &.openinghours {
            p {
                white-space: pre-line;
            }
        }
    }
    h2 {
        text-align: center;
    }

    section.centered {
        background: linear-gradient(180deg, white 0%, rgba(246,202,179,1) 100%);
    }
    
    .maps {
        filter: grayscale(0%);
    }
    
}
