.kaffeebar {
    
    .bohnen-liste {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
        row-gap: 100px;
        
    }
    .bohne {

        width: 320px;
        height: 300px;
        position: relative;
        display: flex;
        &-bild {
            height: 100%;
            width: 55%;
            background-size: cover;
        }
        &-content {
            width: 45%;
            background-color: $tafel-black;
            color: white;
            height: 100%;
            padding: 8px 10px;
        }

    }
}
