.button,
a[href^="mailto:"] {
    padding: 0.8rem;

    @include media-up(md) {
        padding: 0.8rem 2rem;
    }

    align-self: center;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 8px;

    background-color: $blackboard;
    color: whitesmoke;
    font-weight: bold;

    a {
        text-decoration: none;
    }

    transition: background-color 400ms 100ms,
        color 400ms 100ms;

    &:hover {
        transition: background-color 400ms color 400ms;
            
        background-image: $blackboard;
        color: white;
    }
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 100%;

    @include media-up(md) {
        flex-flow: row;
    }

    @include media-up(mdl) {
        justify-content: center;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.buttons {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;

    @include media-up(md) {
        flex-flow: row;
        padding: 0 48px 0 48px;
    }

    @include media-up(mdl) {
        margin-top: 0;
        width: 50%;
        justify-content: flex-start;
    }

    .button {
        padding: 8px 8px;
        display: block;
        width: calc(50% - 8px);

        @include media-up(sm) {
            padding: 8px 16px;
        }

        @include media-up(md) {
            padding: 8px 32px;

            width: auto;
            margin: 16px 0;

            &:last-child {
                margin-left: 48px;
            }
        }
    }
}