footer {
    @include padding;
    background-color: $blue;
    color: white;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        // font-size: 12px;

    }
    a {
        text-decoration: none;
        font-family: $font-family-display;
        text-transform: uppercase;
        &:hover {
            transition: color 300ms,;
            color: $fresh-blue;
        }
        &:last-child {
            @include media-down(md) {
                margin-left: 5px;
                display: inline-block;
            }
        }
    }
}
