.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    background-color: $light;
    .inner {
        display: flex;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        align-self: flex-start;
        justify-content: space-between;
        position: relative;
        padding: 8px 16px;
        @include media-up(md) {
            padding: 16px 32px;
        }
        a {text-transform: uppercase;}
    }


    .sitename {
        margin-left: 0 !important;
        @media (min-width: 370px) {
            // letter-spacing: normal !important;
        }
    }
    .menu-items {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        background-color: $light;
        @include media-down(mdl) {
            display: none;
        }
    }
    .nav-item {
        text-transform: lowercase;
        display: inline-block;
        text-decoration: none;

        font-size: 28px;
        color: $blackboard;
        @include media-up(mdl){
            margin-left: 3vw;
            font-size: 25px;
        }
        @include media-up(lg){margin-left: 5vw;}
        line-height: 1;
        // letter-spacing: -5px;
        &.active,
        &:hover {
            font-family: $font-family-display;
            color: $blue
        }
        &.order-1 {order: 1;}
        &.order-2 {order: 2;}
        &.order-3 {order: 3;}
        &.order-4 {order: 4;}
        
    }

    .mobile-menu-button {
        height: 24px;
        width: 24px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-flow: column;
        align-self: center;
        align-items: center;
        padding: 2px 0;

        @include media-up(mdl){display: none;}
        %bar {
            height: 2px;
            width: 24px;

            display: block;
            background-color: $blackboard;
            margin: 4px 0;
            // position: absolute;
            // top: 0;
            // left: 0;
            transform-origin: center;
            transform: rotate(0) translate(0,0);
            transition: top, transform 300ms 200ms;
        }

        .bar-1 {
            top: 35%;
            @extend %bar;
        }
        .bar-2 {
            top: 65%;
            @extend %bar;
        }
        
    
    }
    &.active {
        @include media-down(mdl) {
            .menu-items {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 10;
                flex-flow: column;
                justify-content: flex-start;
                display: flex;
                height: 100vh;
                padding: 8px 16px;
                
                @include media-up(md) {
                    padding: 16px 32px;
                }
            }
                    
        }
        .bar-1 {
            transform: rotate(45deg) translate(4px, 4px);
            transition: top, transform 300ms;
        }
        .bar-2 {
            transform: rotate(-45deg) translate(3px, -3px);
            transition: top, transform 300ms;
        }
    }
}
